head
    title Search Modules
    include ../../templates/head
    //style
    //    include style.css
body
    include ../../templates/Header:Footer/header.pug
    form(id="search")
        label(for="q") Query
        input(name="q", id="q", type="text")
        br
        label(for="name") Name
        input(name="name", id="name", type="checkbox", checked)
        br
        label(for="description") Description
        input(name="description", id="description", type="checkbox", checked)
        br
        label(for="author") Author
        input(name="author", id="author", type="checkbox", checked)
        br
        label(for="code") Code
        input(name="code", id="code", type="checkbox", checked)
        br
        button(type="submit") Search
    ul(id="results")
    script
        include search.js
    include ../../templates/Header:Footer/header.pug