@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
body {
	margin: 0 auto;
	padding: 100px 0 25px 0;
    background-color: #f4f0ea;
	/*max-width: 50em;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*flex-wrap: nowrap;*/
	line-height: 1.5;
    font-size: 14px;
     font: inherit;
     font-family: "Source Sans Pro", sans-serif;
	/*color: #333;*/
}
span, input {
    margin: 10px;
}
.spacer{
   margin-right: 10px;
}
.spacerd{
   margin-bottom: 10px;
}