doctype html
html
    head
        meta(charset="utf-8")
        title Upload Module
        style
            include style.css
    body
        include ../../templates/Header:Footer/header.pug
        h1 Your Modules
        ul
            each module in modules
                li=module
        h1 Upload New Module
        form(id="upload-module", method="POST", enctype="multipart/form-data", action=serverUrl)
            label(for="module_name") Module Name
            input(type="text", id="module_name", name="module_name")
            br
            label(for="module_desc") Module Description
            input(type="text" , id="module_desc", name="module_desc")
            br
            label(for="code") File(s)
            input(type="file", name="code", id="code", multiple)
            br
            br
            button(type="submit") Submit
        include ../../templates/Header:Footer/footer.pug