head
        include ../templates/head
        title Chatr
        style
        include footer.css
        
footer
  .container
    p &copy; Chatr. All Rights Reserved.
    a(href='/admin') Administration
