nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='/') Chatr
        ul.nav.navbar-nav.navbar-right
                li
                    a(href='/getting-started') Getting Started 