doctype html
html
    head
        include ../templates/head
        title Chatr
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    body
        include ../templates/Header:Footer/headerh.pug
        #containContent
            header#header
                img.size(src='/images/Logo1.png')
                .content
                    .inner
                        h1 Chatr
                        p
                            | A fully customizable chat bot made for Facebook Messenger. Login below with Facebook.
                        p
                            a(href='/getting-started') Or find instructions on how to get started here.
                .logo
                    a(href='/auth/facebook')
                        span.icon.fa-facebook-square
            #footer
                include ../templates/Header:Footer/footerh.pug