doctype html
html
    head
        title Chatr
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='/css/main.css')
    body
        include ../templates/Header:Footer/header.pug
        #containContent
            header#header
                img.size(src='/images/Logo1.png')
                .content
                    .inner
                        h1 Chatr
                        p
                            | A fully customizable chat bot made for Facebook Messenger. Login below with Facebook.
                .logo
                    a(href='/auth/facebook')
                        span.icon.fa-facebook-square
        include ../templates/Header:Footer/footer.pug