<html>

<head>
    <title>Chatr</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" /> </head>

<body>
    <div id="containContent">
        <header id="header"> <img class="size" src="images/Logo1.png">
            <div class="content">
                <div class="inner">
                    <h1>Chatr</h1>
                    <p> A fully customizable chat bot made for facebook messengeR. Login below with Facebook </p>
                </div>
            </div>
            <div class="logo">
                <a href=""> <span class="icon fa-facebook-square"></span> </a>
            </div>
        </header>
    </div>
</body>

</html>